<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="materialize/css/materialize.css">
    <link rel="stylesheet" href="css/main.css">
  <meta charset="UTF-8">
  <title></title>
</head>
<body class="teal lighten-2">
  
<div class="container" id="container-to-do-list">
  <h1 class="yellow-text">TO DO LIST</h1>
  <div class="row">
  <input  @keyup.enter='addNewList' class="col m9 card-panel pink  red lighten-5  deep-orange-text accent-4" v-model='newToDo' type="text">
  <button class="col m3 blue lighten-5 orange-text darken-1"  v-on:click='addNewList'
  >Ajouter</button>
</div>
  <ul>
      <todo-item class="purple lighten-3"
      v-for="(item, index) in items"
      v-bind:key="item.id"
      v-bind:title="item.title"
      v-on:remove="items.splice(index, 1)"

      
      ></todo-item>

</ul>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
